.mypokemon-container{
  height: 80vh;
}

.my-pokemon-img {
  height: 32vh;
}

.error-div{
  flex-direction: column;
  background: lightslategray;
}

@media (max-width: 800px) {
  .my-pokemon-img {
    height: 22vh;
  }
}