.pokemonList {
  min-height:100vh;
}

.pokemonlist_container{
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pokemon-card_container{
  margin: 1vh 6vh;
}

.pokemon-card_container, .pokemonlist_card, .another_card {
  width: 15.5vh;
  height: 15.5vh;
}

.pokemon-card_container:hover .pokemonlist_card {
  transform: rotateY(180deg);
}

.pokemonlist_card {
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  background-color: rgb(999, 999, 800, 0.2);
}

.pokemon_image {
  width: 15vh;
}

.pokemon_image, .another_card {
  position: absolute;
  backface-visibility: hidden;
}

.another_card {
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  background-color: rgb(999, 999, 800, 0.2);
  transform: rotateY(180deg);
}

.another_card span {
  text-decoration: none;
  color: black;
}

.pokemon-name {
  text-transform: capitalize;
}

.goBackButton {
  position: fixed;
  top: 0;
  right: 0;
}

.menu-container {
  position: fixed!important;
  z-index: 1;
  width: 15.5vw;
  top: 0;
  color: #fff!important;
}