.home{
  height: 100vh;
  background: url('../../Assets/pokeball.png');
  background-size: 25%;
  background-position: center;
}

.link-home {
  height: 10vh;
  width: 25vw;
  font-size: xxx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}