.black {
  background-color: darkslategrey;
}

.blue {
  background-color: cornflowerblue;
}
.brown {
  background-color: rosybrown;
}
.gray {
  background-color: gray;
}
.green {
  background-color: lightgreen;
}

.pink {
  background-color: pink;
}

.purple {
  background-color: plum;
}

.red {
  background-color: lightcoral;
}

.white {
  background-color: floralwhite;
}

.yellow {
  background-color: gold;
}